
body{
	margin:0px;
}

a{
	text-decoration: none;
	color:white;
}

.navbar a{
  text-decoration: none;
  color:white;
  transition: 0.5s;
}

.navbar a:hover{
	color:#1c4464;
	display:inline-block;
	transform: scale(1.1,1.1);
}

.navbar div{
	margin-right:50px;
}

.navwords {
	transform: translate(-10px, -20px);
}

.navbar{
	position:relative;
	font-size:25px;
	background: #44ace4;
}

.navbar div{
	margin:0px 35px;
	display:inline-block;
}


.navbar .logo img{
	width:130px;
	height:80px;
}

.aboutus {
	padding: 140px 0px 160px 0px;
  width: 100%;
  margin: auto;
  background-color: #4cace4;
  position: relative;
  
}

.aboutus h1{
	font-family: 'Lobster', cursive;
	margin: auto;
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  letter-spacing: 0.05em;
  display: inline-block;
  color: white;
  text-align: center;
}

.aboutus h2{
	font-family: 'Lobster', sans-serif;
	color: white;
  font-size: 24px;
  margin: auto;
  font-weight: 500;
  
  text-align: center;
}

.seeall {
	color:#7c644c;
	cursor: pointer;
	transition: 0.5s;
}

.seeall:hover{
	color:#e4ac8c;
	transform: scale(1.1);
}



.audiosection {
	background: #fcccd4;
  text-align: center;
  padding: 60px 0px 120px 0px;
  width: 100%;
}

.audiosection h1 {
  margin: 0px;
  color: #e4ac8c;
  font-family: 'Lobster', cursive;
  font-weight: 500;
  font-size: 3em;
  margin-bottom: 50px !important;
}

.audio-container {
  margin: auto !important;
  width: 1080px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  justify-content: center;
}

.audio-panel {
  width: 270px;
  background: white;
  height: 500px;
  padding: 30px;
  border-radius: 8px;
  text-align: left;
  margin-bottom: 40px;
  margin-left: 12px;
  margin-right: 12px;
  display: grid;
  grid-template-rows: 216px 32px 32px 170px auto;
}

.panel-img {
  width: 270px;
  height: 200px;
  margin-bottom: 16px;
}

.audio-panel h2 {
  margin: 0px;
  color: #e4ac8c;
  font:  16px/23px Lobster, sans-serif;
  height: 16px;
  margin-bottom: 16px;
  line-height: 23px;
  letter-spacing: 0.05em;
}

.audio-panel h3 {
  margin: 0px;
  font:  11px Lobster, sans-serif;
  color: #e4ac8c;
  height: 14px;
  margin-bottom: 16px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.audio-panel p {
  margin: 0px;
  font: 300 14px/20px Lobster, sans-serif;
  color: #e4ac8c;
  max-height: 240px;
  margin-bottom: 16px;
  line-height: 180% !important;
}

footer a{
  color:black;
}

footer a:hover{
  color: #1c4464;
}

footer{
  position: relative;
}

footer ul li{
  color:#222;
  font-size:20px;
  list-style-type: none;
  margin:0;
  margin-bottom: 50px;
}

footer ul li a{
  color:#222;
}

.desc{
  margin-bottom:75px;
  font-size:25px;
}

.upper{
  background-color: #white;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-auto-rows: auto;
  justify-items: center;
  grid-row-gap: 1em;
  margin-top:70px;
  margin-bottom:100px;
}

.upper .div{
  height:100%;
  width: 100%;
}

.upper img{
  margin-right: 15px;
}

.upper .item1{
  grid-column: 2/3;
}

.upper .item2{
  grid-column: 3/4;
}

.item1 img{
  height:40px;
  width: 40px;
}

.item2 .admup{
  height:40px;
  width:40px;
  margin-right:44px;
  margin-left:32px;
}

.item2 .radyo{
  height:40px;
  width: 100px;
}

.item2 .compsat{
  height:40px;
  width: 100px;
}

.disclaimer{
  text-align: center;
  font-size:10px;
  margin:20px 0;
}

.lower{
  background-color: #ccc;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.logo1 img{
  width: 50px;
  height: 30px;
}

.lower .logo1{
  grid-column: 1/2;
  justify-self:center;
  align-self: center;
}

.lower .contact{
  grid-column: 2/3;
}

.lower .container{
  font-size: 20px;
  margin:7px 0;
  justify-self:end;
  grid-column: 3/4;
}

.lower .icon{
  margin:0 5px;
}

